---
import "../styles/global.css";

import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Ayunee | Dashboard" activePage="Dashboard">
	<div class="grid place-items-center h-screen content-center">
		<Button>Welcome to Ayunee Makeup!</Button>
	</div>
</Layout>
