---
import Layout from '../layouts/Layout.astro';
import { Button } from "@/components/ui/button";
---

<Layout title="Ayunee | Products" activePage="Products">
  <div class="grid place-items-center h-screen content-center">
		<Button>Welcome to Ayunee Makeup!</Button>
	</div>
</Layout>