---
import Layout from "../layouts/Layout.astro";
import { ProductTable } from "@/components/products/table";
import { AddProductDialog } from "@/components/products/add-dialog";
---

<Layout title="Ayunee | Products" activePage="Products">
  <div class="mb-4">
    <AddProductDialog client:load />
  </div>
  
  <ProductTable client:load />
</Layout>
